################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
x64/
Win32/
Release/
Debug/
.vscode/
ipch/
/enc_temp_folder
